// fonts
$font-main: 'Roboto', sans-serif;
$font-title: 'Roboto Slab', serif;
$font-p: 'Rubik', sans-serif;

// colors
$color-bg: #ffffff;
$color-secondary: #ffffff;
$color-babyblue: #8ccbea;
$color-button: #f26002;
$color-iceblue: #eff9ff;
$color-text: #000000;
$color-Footer: #304268;
$color-burger: #0271bc
