.page__footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100vw;
  font-family: $font-main;
  color: $color-bg;
  font-size: 1rem;
  background-color: #304268;
  text-align: center;
  .footer-button {
    background-color: $color-bg;
    margin-top: -5rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 2rem;
    border: $color-bg;
  }
  ul { 
    li {
      margin: 0.8rem;
      list-style: none;
      a {
        color: $color-bg;
        text-decoration: none;
      }
    }
  }
  .main-list {
  
    margin: 2rem 0rem 2rem 0rem;
  }
  .social-list {
    margin: 2rem 0rem 2rem 0rem;
  }
  .cr {
    font-size: 0.8rem;
    p {
      margin: 0.5rem;
    }
  }

}

@media all and (min-width: 768px)and (max-width: 2000px) {
  .list-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;

    .cr {
      margin-top: 2rem;
      order: 1;
    }
    .main-list {
      order: 2;
    }
  .social-list {
     order: 3;
    }
 }
}
  
