<footer class="page__footer">
  <button class="footer-button">
    <nav>
      <a class="gosht__link" href="#ap">
        <img src="../scss/layout/ico-arrow.svg" alt="go-up">
      </a>
    </nav>
  </button>
  <div class="ft-list">
    <ul class="main-list">
      <li><a href="https://adalab.es/">ARTICLE</a></li>
      <li><a href="https://adalab.es/">BOOKS</a></li>
      <li><a href="https://adalab.es/">EVENTS</a></li>
      <li><a href="https://adalab.es/">REASONS</a></li>
      <li><a href="https://adalab.es/">TIPS</a></li>
    </ul>
  </div> 
  <div class="social-media"> 
    <ul class="social-list">
      <li><a href="https://twitter.com/Adalab_Digital">TWITTER</a></li>
      <li><a href="https://www.instagram.com/adalab_digital/">INSTAGRAM</a></li>
      <li><a href="https://adalab.es/">MASTODON.SOCIAL</a></li>
    </ul>
  </div>
  <div class="cr"> 
    &copy; 2023
    <p>we ❤️ components</p>
  </div>
</footer>
