<main class="page__main">
  <div class="ft-p">
  <h6 class="mini-title">Insomnia Tips</h6>
  <h2 class="ft-title">Looking Through A Window</h2>
    <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
    <button class="ft-button">Go</button>
  </div>
  <div class="three-reasons" id="tr">
  <h2 class="sec-title">3 Reasons To Purchase</h2>
  <div class="three-boxes">
    <h4 class="three-title">Ut sed metus</h4>
    <p>Lorem ipsum dolor sit amet, consectetur.</p>
  </div>
  <div class="three-boxes">
    <h4 class="three-title">Curabitur ac erat</h4>
    <p>Mauris mattis urna quis lorem molestie.</p>
  </div>
  <div class="three-boxes">
    <h4 class="three-title">Morbin dictum</h4>
    <p>Aliquam in dolor et dolor tincidunt.</p>
  </div>
  <button class="sec-buttom">More reasons</button> 
</div>
</main>
